body{
    display: flex;
    justify-content: center;
    align-items:center;
    max-width: 100%;
    height: 100vh;
}
.touches{
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: repeat(4,50px);    
    grid-gap: 5px;
}
#equal{
    background-color: #cac680;
}
#zero{
    grid-column: span 2;
}
#ce{
    background-color: #9699b6;
}
#c{
    background-color: #c77571;
}
#plus{
    grid-row:span 2 ;
}
button{
    box-shadow: black 1px 1px 2px ;
    border-radius: 5px;
}
.calculatrice{
    border: solid black 3px;
    border-radius: 5px;
    padding: 10px;
    background-color: #ccc8c6;
}
.ecran{
    width: 280px;
    height: 80px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: black 1px 1px 2px;
    border-radius: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}
#operation{
    font-weight: bold;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}
#result{
    font-weight: bold;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}